<mat-sidenav-container class="sidenav-container">

  <!-- Left sidenav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar>
      <div class="logo">
          <a class="simple-text" href="/">
              <div class="logo-img">
                  <img src="./assets/images/angular2-logo-red.png">
              </div>
              {{ 'APP_LOGO_TITLE' | translate }}
          </a>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a
        mat-list-item
        disableRipple
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon aria-label="Side nav toggle icon">dashboard</mat-icon>
        {{ 'DASHBOARD.TITLE' | translate }}
      </a>
      <a
        mat-list-item
        disableRipple
        routerLink="/activities"
        routerLinkActive="active">
        <mat-icon aria-label="Side nav toggle icon">view_list</mat-icon>
        {{ 'ACTIVITY.TITLE' | translate }}
      </a>
      <a
        mat-list-item
        disableRipple
        routerLink="/login">
        <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
        {{ 'LOGOUT' | translate }}
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <!-- Toopbar -->
    <mat-toolbar color="primary-50">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [translate]="pageName || 'APP_DASHBOARD'"></span>
      <span class="spacer"></span>


      <button mat-button [matMenuTriggerFor]="menu" class="profile-menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item>
          <mat-icon>security</mat-icon>
          <span>{{ 'PROFILE' | translate }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>{{ 'LOGOUT' | translate }}</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
