@import '../../../colors';

// fafafa
$bg-color-sidenav: #f5f5f5;
$color-sidenav: #3c4858;
$color-icon-sidenav: #a9afbb;
$color-active-sidenav: $primary-300;
$color-active-shadow-sidenav: $primary-50;

$bg-color-topbar: #eee;
$color-topbar: #555;

mat-sidenav-container {
    background-color: #eee;

    mat-sidenav {
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
        width: 260px;
        background-color: $bg-color-sidenav;
        color: $color-sidenav;

        mat-toolbar {
            background-color: $bg-color-sidenav;
            color: $color-sidenav;

            .logo {
                padding: 15px 0;
                margin: 0;
                display: block;
                width: 100%;
                position: relative;
                z-index: 4;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 15px;
                    height: 1px;
                    width: calc(100% - 30px);
                    background-color: rgba(180,180,180,.3);
                }

                .simple-text {
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 5px 0;
                    font-size: 18px;
                    color: $color-sidenav;
                    white-space: nowrap;
                    font-weight: 400;
                    line-height: 30px;
                    overflow: hidden;
                    text-align: center;
                    display: block;

                    .logo-img {
                        width: 35px;
                        display: block;
                        max-height: 30px;
                        margin-left: 13px;
                        margin-right: 15px;

                        img {
                            width: 35px;
                            top: 16px;
                            position: absolute;
                        }
                    }
                }


            }
        }

        .mat-list-item {

            transition:all 150ms ease-in;

            margin: 10px 15px 0;
            border-radius: 3px;
            color: $color-sidenav;
            text-transform: capitalize;
            font-size: 13px;

            &.active {
                background-color: $color-active-sidenav;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px $color-active-shadow-sidenav;
                color: $color-sidenav;

                .material-icons {
                    color: $color-sidenav;
                }
            }

            .material-icons {
                font-size: 24px;
                float: left;
                margin-right: 15px;
                line-height: 30px;
                width: 30px;
                text-align: center;
                color: $color-icon-sidenav;
            }
        }
    }

    mat-sidenav-content {
        mat-toolbar {
            position: fixed;
            background-color: $bg-color-topbar;
            color: $color-topbar;
            border-bottom: 1px solid rgba(180, 180, 180, 0.3);
            z-index: 1;

            .profile-menu {
                position: fixed;
                right: 0;
            }

            .spacer {
                flex: 1 1 auto;
            }
        }
    }

}
