// #d2d6de
$bg-color: #f5f5f5;

.container {
  height: -webkit-fill-available;
  background-color: $bg-color;

  .login-box {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 40%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    text-align: center;

    .form-box {
      background-color: white;
      padding: 34px;
      text-align: left;

      button {
        margin-top: 24px;
        padding: 5px 0 5px 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

}
