<div class="container">

  <div class="login-box">
    <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
    <div class="form-box">
      <form>

        <mat-form-field appearance="outline" #emailEl>
          <mat-label translate>LOGIN.EMAIL</mat-label>
          <input 
            matInput 
            [placeholder]="emailLabel" 
            [formControl]="email" 
            required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" #pwdEl>
          <mat-label translate>LOGIN.PASSWORD</mat-label>
          <input 
            matInput 
            [placeholder]="pwdLabel" 
            [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-checkbox #chekboxEl color="primary">{{ checkboxLabel }}</mat-checkbox>

        <button
          class="login"
          color="primary"
          mat-raised-button
          type="button" (click)="login()"
        >{{ 'LOGIN.BTN' | translate }}</button>

    </form>
  </div>
</div>
</div>
