.container {
  margin: 20px;
  padding-top: 64px;
}

.add-button {
  float: right;
}

.content {
  margin: 30px 15px 30px 15px;

  mat-table {
    margin-top: 15px;

    .mat-header-cell {
      font-size: 14px;
      font-weight: 900;
    }
  }
}
