<div class="container">

    <mat-card>
        <h1 class="mat-h1">{{ 'ACTIVITY.TITLE' | translate }}

            <button
              class="add-button"
              color="primary"
              mat-raised-button>
            <mat-icon aria-label="Side nav toggle icon">add_circle_outline</mat-icon> {{ 'ACTIVITY.ADD' | translate }}
          </button>
        </h1>

    </mat-card>

  <div class="content">
    <app-search-panel
      title="ACTIVITY.SEARCH.TITLE"
      description="ACTIVITY.SEARCH.DESCRIPTION"
      [fields]="searchFields">
    </app-search-panel>

    <div class="mat-elevation-z1">
      <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">


        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'ACTIVITY.TABLE.COLUMN.ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'ACTIVITY.TABLE.COLUMN.NAME' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
</div>
