<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title [translate]="title"></mat-panel-title>
    <mat-panel-description [translate]="description"></mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field *ngFor="let field of fields">
    <input matInput [placeholder]="field.label" [ngModel]="field.model">
  </mat-form-field>

</mat-expansion-panel>
