@import '@angular/material/_theming.scss';

$primary: map-get($mat-indigo, 500);
$primary-300: map-get($mat-indigo, 300);
$primary-50: map-get($mat-indigo, 50);

// create class from map of hex colors
@mixin color-modifiers($attribute: 'color') {
  @each $name, $hex in $mat-indigo {
    @if type-of($hex) != 'map' {
      &-#{$name} {
        #{$attribute}: $hex;
      }
    }
  }
}

.bg-primary {
  @include color-modifiers($attribute: 'background-color');
}

.color-primary {
  @include color-modifiers();
}
